<head th:fragment="header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Spider登录背景预览</title>
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" />
<link href="/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.css}" rel="stylesheet" />
<link href="/css/main/animate.min.css"
	th:href="@{/css/main/animate.min.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<link href="/css/login.min.css" th:href="@{/css/login.min.css}"
	rel="stylesheet" />
<link href="/ajax/libs/iCheck/custom.css"
	th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet" />
<style type="text/css">
spider {
	width: 50;
	height: 70
}

body.signin {
	height: auto;
	background: no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: rgba(255, 255, 255, .95)
}
</style>
</head>
<body class="signin" id="signin">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
		style="font-size: 18px;">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/rzblog" target="_Blank">博客</a></li>
			<li><a href="/toolbox" target="_Blank">工具箱</a></li>
		</ul>
	</div>
	<div class="signinpanel">
		<div class="row">
			<!-- 特效区域 -->
			<div class="specialEffects" style="display: none">
				<canvas id="specialEffects"></canvas>
			</div>
			<div class="specialEffects2" style="display: none">
				<div id="specialEffects2"></div>
			</div>
			<div class="login">
				<h1 align="center">Spider登录背景预览</h1>
				<input id="loginbgName" name="loginbgName" type="hidden"
					th:value="${loginbgName}"></input> <input id="loginbgType"
					name="loginbgType" type="hidden" th:value="${loginbgType}"></input>
				<form id="signupForm">
					<h1 align="center" class="m-t-md">欢迎使用RZSpider</h1>
					<input type="text" name="username" class="form-control uname"
						placeholder="用户名" /> <input type="password" name="password"
						class="form-control pword m-b" placeholder="密码" />
					<div class="row" th:if="${captchaEbabled==true}">
						<div class="col-xs-6">
							<input type="text" name="validateCode" class="form-control code"
								placeholder="验证码" maxlength="5">
						</div>
						<div class="col-xs-6">
							<a href="javascript:void(0);" title="点击更换验证码"> <img
								class="imgcode" width="85%" />
							</a>
						</div>
					</div>
					<input class="i-checks" type="checkbox" name="rememberme" />&nbsp;&nbsp;记住我
					<button class="btn btn-success btn-block" disabled>登录</button>
				</form>
			</div>
		</div>
	</div>
	<!-- 全局js -->
	<script type="text/javascript" color="255,0,0" opacity='1' zIndex="-2"
		count="100" src="/js/canvas-nest.js" th:src="@{/js/canvas-nest.js}"></script>
	<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<!-- 验证插件 -->
	<script src="/ajax/libs/validate/jquery.validate.min.js"
		th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
	<script src="/ajax/libs/validate/messages_zh.min.js"
		th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
	<script src="/ajax/libs/layer/layer.min.js"
		th:src="@{/ajax/libs/layer/layer.min.js}"></script>
	<script src="/ajax/libs/iCheck/icheck.min.js"
		th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
	<!-- 特效 -->
	<!-- 特效 -->

	<!-- 背景设置等等 -->
	<script src="/rzspider/otherlogin.js"
		th:src="@{/rzspider/otherlogin.js}"></script>
</body>
</html>
