<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-toollist-edit">
			<input id="toolListId" name="toolListId" th:value="${toollist.toolListId}"
				type="hidden">
				<input id="toolBackId" name="toolBackId" th:value="${toollist.toolBackId}"
				type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">工具昵称：</label>
				<div class="col-sm-8">
					<input id="toolNickName" name="toolNickName"
						th:value="${toollist.toolNickName}" class="form-control"
						type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">工具名称：</label>
				<div class="col-sm-8">
					<input id="toolName" name="toolName"
						th:value="${toollist.toolName}" class="form-control" type="text"
						readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">工具后台ID：</label>
				<div class="col-sm-8">
					<input id="toolBackId" name="toolBackId"
						th:value="${toollist.toolBackId}" class="form-control" type="text"
						readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">工具描述（使用说明）：</label>
				<div class="col-sm-8">
					<textarea id="toolInstruction" name="toolInstruction"
						th:text="${toollist.toolInstruction}" class="form-control"
						type="text" readonly="readonly"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">工具类型：</label>
				<div class="col-sm-8"
					th:with="datas=${@dictService.selectDictData('commontool_toolmanage_toolType')}">
					<div th:each="dict : ${datas}" th:class="${dict['cssClass']}">
						<input type="radio" th:id="${dict['dictCode']}" name="toolType"
							th:value="${dict['dictValue']}" th:field="*{toollist.toolType}"
							disabled> <label th:for="${dict['dictCode']}"
							th:text="${dict['dictLabel']}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">源码是否可下载：</label>
				<div class="col-sm-2">
					<div class="onoffswitch">
						<input type="checkbox"
							th:checked="${toollist.srcDownloadStatus == 0 ? true : false}"
							class="onoffswitch-checkbox" id="srcDownloadStatus"
							name="srcDownloadStatus" disabled="disabled"> <label
							class="onoffswitch-label" for="srcDownloadStatus"> <span
							class="onoffswitch-inner"></span> <span
							class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="onoffswitch">
						<button type="button" class="btn btn-primary btn-xs"
							id="uploadSrcFile" disabled="true" th:onclick="'javascript:downSrcFile()'" shiro:hasPermission="commontool:toollist:downSrcFile">
							<i class="glyphicon fa fa-cloud"></i>下载工具源代码
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">可执行exe是否可下载：</label>
				<div class="col-sm-2">
					<div class="onoffswitch">
						<input type="checkbox"
							th:checked="${toollist.execexeDownloadStatus == 0 ? true : false}"
							class="onoffswitch-checkbox" id="execexeDownloadStatus"
							name="execexeDownloadStatus" disabled="disabled"> <label
							class="onoffswitch-label" for="execexeDownloadStatus"> <span
							class="onoffswitch-inner"></span> <span
							class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="onoffswitch">
						<button type="button" class="btn btn-primary btn-xs"
							id="uploadExecexeFile" disabled="true" th:onclick="'javascript:downExecexeFile()'" shiro:hasPermission="commontool:toollist:downExecexeFile">
							<i class="glyphicon fa fa-cloud"></i>下载可执行exe
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">安装版exe是否可下载：</label>
				<div class="col-sm-2">
					<div class="onoffswitch">
						<input type="checkbox"
							th:checked="${toollist.setupexeDownloadStatus== 0 ? true : false}"
							class="onoffswitch-checkbox" id="setupexeDownloadStatus"
							name="setupexeDownloadStatus" disabled="disabled"> <label
							class="onoffswitch-label" for="setupexeDownloadStatus"> <span
							class="onoffswitch-inner"></span> <span
							class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="onoffswitch">
						<button type="button" class="btn btn-primary btn-xs"
							id="uploadSetupexeFile" disabled="true" th:onclick="'javascript:downSetupexeFile()'" shiro:hasPermission="commontool:toollist:downSetupexeFile">
							<i class="glyphicon fa fa-cloud"></i>下载安装版exe
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:value="${toollist.remark}"
						class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button th:onclick="'javascript:layer_close()'"
						class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	 <script src="/rzspider/commontool/toollist/detail.js" th:src="@{/rzspider/commontool/toollist/detail.js}">
    </script>
 <script th:inline="javascript">
        var downSrcFileFlag = [[${@permissionService.hasPermi('commontool:toollist:downSrcFile')}]];
        var downExecexeFileFlag = [[${@permissionService.hasPermi('commontool:toollist:downExecexeFile')}]];
        var downSetupexeFileFlag = [[${@permissionService.hasPermi('commontool:toollist:downSetupexeFile')}]];
    </script>
</body>
</html>