<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/ajax/libs/iCheck/custom.css"
	th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet" />
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-spidertaskinfo-params">
			<input id="taskId" name="taskId" th:value="${spidertaskinfo.taskId}"
				type="hidden"> <input id="taskParams" name="taskParams"
				th:value="${spidertaskinfo.taskParams}" type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">任务名称：</label>
				<div class="col-sm-8">
					<input id="taskName" name="taskName" class="form-control"
						th:value="${spidertaskinfo.taskName}" readonly="readonly"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">爬虫名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="spiderName"
						id="spiderName" th:value="${spidertaskinfo.spiderName}"
						readonly="readonly" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">参数设置：</label>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">模式选择：</label>
				<div class="col-sm-6">
					<select class="form-control" name="selectPattern"
						id="selectPattern" disabled>
						<option value="0">全部查询</option>
						<option value="1">条件查询</option>
					</select>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-primary" id="openWeb"
						onclick="openWebsite()">打开此网站</button>
				</div>
			</div>
			<div class="form-group" id="show1">
				<label class="col-sm-3 control-label">爬取页数：</label>
				<div class="col-sm-8">
					<div class="input-group spinner" data-trigger="spinner">
						<input type="text" class="form-control text-center" value="1"
							data-rule="quantity" id="pageNumber" name="pageNumber" disabled>
						<div class="input-group-addon">
							<a href="javascript:;" class="spin-up" data-spin="up"><i
								class="fa fa-caret-up"></i></a> <a href="javascript:;"
								class="spin-down" data-spin="down"><i
								class="fa fa-caret-down"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group" id="show2">
				<label class="col-sm-3 control-label">爬取全部：</label>
				<div class="col-sm-8"
					th:with="datas=${@dictService.selectDictData('sys_yes_no')}">
					<div th:each="dict : ${datas}" th:class="${dict['cssClass']}">
						<input type="radio" th:id="${dict['dictCode']}" name="getDetails"
							th:value="${dict['dictValue']}"
							th:checked="${dict['isDefault'] == 'Y' ? true : false}" disabled>
						<label th:for="${dict['dictCode']}" th:text="${dict['dictLabel']}"></label>
					</div>
				</div>
			</div>

			<div class="form-group" id="show3">
				<label class="col-sm-3 control-label">项目区域：</label>
				<div class="col-sm-8">
					<select class="form-control" name="projectArea" id="projectArea"
						disabled>
						<option value="工业园区">工业园区</option>
						<option value="吴中区">吴中区</option>
						<option value="相城区">相城区</option>
						<option value="高新区">高新区</option>
						<option value="姑苏区">姑苏区</option>
						<option value="吴江区">吴江区</option>
					</select>
				</div>
			</div>
			<div class="form-group" id="show4">
				<label class="col-sm-3 control-label">项目名称：</label>
				<div class="col-sm-8">
					<input id="projectName" name="projectName" class="form-control"
						type="text" disabled>
				</div>
			</div>
			<div class="form-group" id="show5">
				<label class="col-sm-3 control-label">公司名称：</label>
				<div class="col-sm-8">
					<input id="companyName" name="companyName" class="form-control"
						type="text" disabled>
				</div>
			</div>

			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button th:onclick="'javascript:layer_close()'"
						class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/json3.js" th:src="@{/js/json3.js}"></script>
	<script
		src="/rzspider/spider/spidertask/spidertaskinfo/params/10003.js"
		th:src="@{/rzspider/spider/spidertask/spidertaskinfo/params/10003.js}"></script>
	<script src="/ajax/libs/iCheck/icheck.min.js"
		th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
	<script>
		$(document).ready(function() {
			$(".i-checks").iCheck({
				checkboxClass : "icheckbox_square-green",
				radioClass : "iradio_square-green",
			})
		});
	</script>

</body>
</html>
