<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzspider.project.book.bookmanage.mapper.BookmanageMapper">

	<resultMap type="Bookmanage" id="BookmanageResult">
		<result property="bookId" column="book_id" />
		<result property="bookName" column="book_name" />
		<result property="bookAuthor" column="book_author" />
		<result property="bookPublisher" column="book_publisher" />
		<result property="bookIsbn" column="book_ISBN" />
		<result property="bookDes" column="book_des" />
		<result property="bookLanguage" column="book_language" />
		<result property="bookOriginalPrice" column="book_original_price" />
		<result property="bookPurchasePrice" column="book_purchase_price" />
		<result property="bookPublishTime" column="book_publish_time" />
		<result property="bookClassification" column="book_classification" />
		<result property="bookBinding" column="book_binding" />
		<result property="bookPages" column="book_pages" />
		<result property="bookStayAddress" column="book_stay_address" />
		<result property="bookReadStatus" column="book_read_status" />
		<result property="bookReadStar" column="book_read_star" />
		<result property="bookReadEvaluation" column="book_read_evaluation" />
		<result property="userId" column="user_id" />
		<result property="status" column="status" />
		<result property="createBy" column="create_by" />
		<result property="createTime" column="create_time" />
		<result property="updateBy" column="update_by" />
		<result property="updateTime" column="update_time" />
		<result property="remark" column="remark" />
	</resultMap>

	<select id="selectBookmanageById" parameterType="Integer"
		resultMap="BookmanageResult">
		select book_id, book_name, book_author, book_publisher,
		book_ISBN, book_des,
		book_language, book_original_price,
		book_purchase_price,
		book_publish_time, book_classification,
		book_binding, book_pages,
		book_stay_address, book_read_status,
		book_read_star,
		book_read_evaluation, user_id, status, create_by,
		create_time,
		update_by, update_time, remark from book_bookmanage
		where
		book_id = #{bookId}
	</select>

	<select id="selectBookmanageList" parameterType="Bookmanage"
		resultMap="BookmanageResult">
		select book_id, book_name, book_author, book_publisher, book_ISBN,
		book_des, book_language, book_original_price, book_purchase_price,
		book_publish_time, book_classification, book_binding, book_pages,
		book_stay_address, book_read_status, book_read_star,
		book_read_evaluation, user_id, status, create_by, create_time,
		update_by, update_time, remark from book_bookmanage
		<where>
			<if test="bookId != null and bookId != ''"> and book_id = #{bookId}</if>
			<if test="bookName != null and bookName != ''"> and book_name = #{bookName}</if>
			<if test="bookAuthor != null and bookAuthor != ''"> and book_author = #{bookAuthor}</if>
			<if test="bookPublisher != null and bookPublisher != ''"> and book_publisher = #{bookPublisher}</if>
			<if test="bookIsbn != null and bookIsbn != ''"> and book_ISBN = #{bookIsbn}</if>
			<if test="bookDes != null and bookDes != ''"> and book_des = #{bookDes}</if>
			<if test="bookLanguage != null and bookLanguage != ''"> and book_language = #{bookLanguage}</if>
			<if test="bookOriginalPrice != null and bookOriginalPrice != ''"> and book_original_price = #{bookOriginalPrice}</if>
			<if test="bookPurchasePrice != null and bookPurchasePrice != ''"> and book_purchase_price = #{bookPurchasePrice}</if>
			<if test="bookPublishTime != null and bookPublishTime != ''"> and book_publish_time = #{bookPublishTime}</if>
			<if test="bookClassification != null and bookClassification != ''"> and book_classification = #{bookClassification}</if>
			<if test="bookBinding != null and bookBinding != ''"> and book_binding = #{bookBinding}</if>
			<if test="bookPages != null and bookPages != ''"> and book_pages = #{bookPages}</if>
			<if test="bookStayAddress != null and bookStayAddress != ''"> and book_stay_address = #{bookStayAddress}</if>
			<if test="bookReadStatus != null and bookReadStatus != ''"> and book_read_status = #{bookReadStatus}</if>
			<if test="bookReadStar != null and bookReadStar != ''"> and book_read_star = #{bookReadStar}</if>
			<if test="bookReadEvaluation != null and bookReadEvaluation != ''"> and book_read_evaluation = #{bookReadEvaluation}</if>
			<if test="userId != null and userId != ''"> and user_id = #{userId}</if>
			<if test="status != null and status != ''"> and status = #{status}</if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
			<if test="remark != null and remark != ''"> and remark = #{remark}</if>
			<if test="searchValue != null and searchValue != ''">
				AND (book_name like concat(concat('%', #{searchValue}),
				'%') OR book_author like concat(concat('%', #{searchValue}), '%') OR
				book_classification like concat(concat('%', #{searchValue}), '%') OR
				book_stay_address like concat(concat('%', #{searchValue}), '%'))
			</if>
		</where>
	</select>

	<insert id="insertBookmanage" parameterType="Bookmanage">
		insert into book_bookmanage (
		<if test="bookId != null and bookId != '' ">book_id, </if>
		<if test="bookName != null and bookName != '' ">book_name, </if>
		<if test="bookAuthor != null and bookAuthor != '' ">book_author, </if>
		<if test="bookPublisher != null and bookPublisher != '' ">book_publisher, </if>
		<if test="bookIsbn != null and bookIsbn != '' ">book_ISBN, </if>
		<if test="bookDes != null and bookDes != '' ">book_des, </if>
		<if test="bookLanguage != null and bookLanguage != '' ">book_language, </if>
		<if test="bookOriginalPrice != null and bookOriginalPrice != '' ">book_original_price, </if>
		<if test="bookPurchasePrice != null and bookPurchasePrice != '' ">book_purchase_price, </if>
		<if test="bookPublishTime != null and bookPublishTime != '' ">book_publish_time, </if>
		<if test="bookClassification != null and bookClassification != '' ">book_classification, </if>
		<if test="bookBinding != null and bookBinding != '' ">book_binding, </if>
		<if test="bookPages != null and bookPages != '' ">book_pages, </if>
		<if test="bookStayAddress != null and bookStayAddress != '' ">book_stay_address, </if>
		<if test="bookReadStar != null and bookReadStar != '' ">book_read_star, </if>
		<if test="bookReadEvaluation != null and bookReadEvaluation != '' ">book_read_evaluation, </if>
		<if test="userId != null and userId != '' ">user_id, </if>
		<if test="status != null and status != '' ">status, </if>
		<if test="createBy != null and createBy != '' ">create_by, </if>
		<if test="remark != null and remark != '' ">remark,</if>
		book_read_status,
		create_time
		)values(
		<if test="bookId != null and bookId != ''">#{bookId}, </if>
		<if test="bookName != null and bookName != ''">#{bookName}, </if>
		<if test="bookAuthor != null and bookAuthor != ''">#{bookAuthor}, </if>
		<if test="bookPublisher != null and bookPublisher != ''">#{bookPublisher}, </if>
		<if test="bookIsbn != null and bookIsbn != ''">#{bookIsbn}, </if>
		<if test="bookDes != null and bookDes != ''">#{bookDes}, </if>
		<if test="bookLanguage != null and bookLanguage != ''">#{bookLanguage}, </if>
		<if test="bookOriginalPrice != null and bookOriginalPrice != ''">#{bookOriginalPrice}, </if>
		<if test="bookPurchasePrice != null and bookPurchasePrice != ''">#{bookPurchasePrice}, </if>
		<if test="bookPublishTime != null and bookPublishTime != ''">#{bookPublishTime}, </if>
		<if test="bookClassification != null and bookClassification != ''">#{bookClassification}, </if>
		<if test="bookBinding != null and bookBinding != ''">#{bookBinding}, </if>
		<if test="bookPages != null and bookPages != ''">#{bookPages}, </if>
		<if test="bookStayAddress != null and bookStayAddress != ''">#{bookStayAddress}, </if>
		<if test="bookReadStar != null and bookReadStar != ''">#{bookReadStar}, </if>
		<if test="bookReadEvaluation != null and bookReadEvaluation != ''">#{bookReadEvaluation}, </if>
		<if test="userId != null and userId != ''">#{userId}, </if>
		<if test="status != null and status != ''">#{status}, </if>
		<if test="createBy != null and createBy != ''">#{createBy}, </if>
		<if test="remark != null and remark != ''">#{remark},</if>
		#{bookReadStatus},
		sysdate()
		)
	</insert>

	<update id="updateBookmanage" parameterType="Bookmanage">
		update book_bookmanage
		<set>
			<if test="bookName != null and bookName != ''">book_name = #{bookName}, </if>
			<if test="bookAuthor != null and bookAuthor != ''">book_author = #{bookAuthor}, </if>
			<if test="bookPublisher != null and bookPublisher != ''">book_publisher = #{bookPublisher}, </if>
			<if test="bookIsbn != null and bookIsbn != ''">book_ISBN = #{bookIsbn}, </if>
			<if test="bookDes != null and bookDes != ''">book_des = #{bookDes}, </if>
			<if test="bookLanguage != null and bookLanguage != ''">book_language = #{bookLanguage}, </if>
			<if test="bookOriginalPrice != null and bookOriginalPrice != ''">book_original_price = #{bookOriginalPrice}, </if>
			<if test="bookPurchasePrice != null and bookPurchasePrice != ''">book_purchase_price = #{bookPurchasePrice}, </if>
			<if test="bookPublishTime != null and bookPublishTime != ''">book_publish_time = #{bookPublishTime}, </if>
			<if test="bookClassification != null and bookClassification != ''">book_classification = #{bookClassification}, </if>
			<if test="bookBinding != null and bookBinding != ''">book_binding = #{bookBinding}, </if>
			<if test="bookPages != null and bookPages != ''">book_pages = #{bookPages}, </if>
			<if test="bookStayAddress != null and bookStayAddress != ''">book_stay_address = #{bookStayAddress}, </if>
			<if test="bookReadStar != null and bookReadStar != ''">book_read_star = #{bookReadStar}, </if>
			<if test="bookReadEvaluation != null and bookReadEvaluation != ''">book_read_evaluation = #{bookReadEvaluation}, </if>
			<if test="userId != null and userId != ''">user_id = #{userId}, </if>
			<if test="status != null and status != ''">status = #{status}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy}, </if>
			<if test="remark != null and remark != ''">remark = #{remark},</if>
			book_read_status = #{bookReadStatus},
			update_time = sysdate()
		</set>
		where book_id = #{bookId}
	</update>

	<delete id="deleteBookmanageById" parameterType="Integer">
		delete from
		book_bookmanage where book_id = #{value}
	</delete>

	<delete id="batchDeleteBookmanage" parameterType="Integer">
		delete from book_bookmanage where book_id in
		<foreach item="bookId" collection="array" open="(" separator=","
			close=")">
			#{bookId}
		</foreach>
	</delete>

</mapper>