<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.rzspider.project.spider.customspider.mapper.CustomspiderMapper">

	<resultMap type="Customspider" id="CustomspiderResult">
		<result property="customSpiderId" column="custom_spider_id" />
		<result property="customSpiderBackId" column="custom_spider_back_id" />
		<result property="spiderDes" column="spider_des" />
		<result property="spiderVersion" column="spider_version" />
		<result property="spiderJavaPackagePrefix" column="spider_java_package_prefix" />
		<result property="customSpiderType" column="custom_spider_Type" />
		<result property="spiderCodeTypeName" column="spider_code_type_name" />
		<result property="spiderCodeTypeFolder" column="spider_code_type_folder" />
		<result property="spiderDefaultParamsAll" column="spider_default_params_all" />
		<result property="spiderDefaultParams" column="spider_default_params" />
		<result property="customStatus" column="custom_status" />
		<result property="runStatus" column="run_status" />
		<result property="entryFileName" column="entry_file_name" />
		<result property="createBy" column="create_by" />
		<result property="createTime" column="create_time" />
		<result property="updateBy" column="update_by" />
		<result property="updateTime" column="update_time" />
		<result property="remark" column="remark" />
	</resultMap>

	<select id="selectCustomspiderById" parameterType="Integer"
		resultMap="CustomspiderResult">
		select
		sc.*,sct.spider_code_type_name,sct.spider_code_type_folder
		from
		spider_customspider sc left join spider_code_type sct on
		sc.custom_spider_Type=sct.custom_spider_Type
		where custom_spider_id =
		#{customSpiderId}
	</select>
	<select id="selectCustomSpiderByRunStatus" parameterType="Integer"
		resultMap="CustomspiderResult">
		select *
		from
		spider_customspider
		where run_status =
		#{runStatus}
	</select>
	<select id="selectCustomspiderByCustomSpiderBackId"
		parameterType="Integer" resultMap="CustomspiderResult">
		select
		sc.*,sct.spider_code_type_name,sct.spider_code_type_folder
		from
		spider_customspider sc left join spider_code_type sct on
		sc.custom_spider_Type=sct.custom_spider_Type
		where
		custom_spider_back_id = #{customSpiderBackId}
	</select>

	<select id="selectCustomspiderList" parameterType="Customspider"
		resultMap="CustomspiderResult">
		select sc.*,sct.spider_code_type_name,sct.spider_code_type_folder
		from
		spider_customspider sc left join spider_code_type sct on
		sc.custom_spider_Type=sct.custom_spider_Type
		<where>
			<if test="customSpiderId != null and customSpiderId != ''"> and custom_spider_id = #{customSpiderId}</if>
			<if test="customSpiderBackId != null and customSpiderBackId != ''"> and custom_spider_back_id = #{customSpiderBackId}</if>
			<if test="customSpiderType != null and customSpiderType != ''"> and custom_spider_Type = #{customSpiderType}</if>
			<if test="customStatus != null and customStatus != ''"> and custom_status = #{customStatus}</if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
			<if test="remark != null and remark != ''"> and remark = #{remark}</if>
			<if test="searchValue != null and searchValue != ''">
				AND custom_spider_back_id like concat(concat('%',
				#{searchValue}), '%')
			</if>
		</where>
	</select>

	<insert id="insertCustomspider" parameterType="Customspider">
		insert into spider_customspider (
		<if test="remark != null and remark != '' ">remark,</if>
		<if test="spiderDes != null and spiderDes != '' ">spider_des,</if>
		<if
			test="spiderJavaPackagePrefix != null and spiderJavaPackagePrefix != '' ">spider_java_package_prefix,</if>
		custom_spider_back_id,
		spider_version,
		custom_spider_Type,
		spider_default_params_all,
		spider_default_params,
		custom_status,
		run_status,
		entry_file_name,
		create_by,
		create_time
		)values(
		<if test="remark != null and remark != ''">#{remark},</if>
		<if test="spiderDes != null and spiderDes != '' ">#{spiderDes},</if>
		<if
			test="spiderJavaPackagePrefix != null and spiderJavaPackagePrefix != '' ">#{spiderJavaPackagePrefix},</if>
		#{customSpiderBackId},
		#{spiderVersion},
		#{customSpiderType},
		#{spiderDefaultParamsAll},
		#{spiderDefaultParams},
		#{customStatus},
		#{runStatus},
		#{entryFileName},
		#{createBy},
		sysdate()
		)
	</insert>

	<update id="updateCustomspider" parameterType="Customspider">
		update spider_customspider
		<set>
			<if test="remark != null and remark != ''">remark = #{remark},</if>
			<if test="spiderDes != null and spiderDes != ''">spider_des = #{spiderDes},</if>
			custom_spider_back_id = #{customSpiderBackId},
			spider_version =
			#{spiderVersion},
			custom_spider_Type =
			#{customSpiderType},
			spider_default_params_all =
			#{spiderDefaultParamsAll},
			spider_default_params =
			#{spiderDefaultParams},
			update_by =
			#{updateBy},
			custom_status =
			#{customStatus},
			update_time =
			sysdate()
		</set>
		where custom_spider_id = #{customSpiderId}
	</update>
	<update id="updateCustomspiderRunStatus" parameterType="Customspider">
		update spider_customspider
		<set>
			run_status =
			#{runStatus},
			update_time =
			sysdate()
		</set>
		where custom_spider_back_id = #{customSpiderBackId}
	</update>

	<update id="updateCustomspiderEntryFileName" parameterType="Customspider">
		update spider_customspider
		<set>
			entry_file_name =
			#{entryFileName},
			update_time =
			sysdate()
		</set>
		where custom_spider_back_id = #{customSpiderBackId}
	</update>

	<delete id="deleteCustomspiderById" parameterType="Integer">
		delete from
		spider_customspider where custom_spider_id = #{value}
	</delete>

	<delete id="batchDeleteCustomspider" parameterType="Integer">
		delete from spider_customspider where custom_spider_id in
		<foreach item="customSpiderId" collection="array" open="("
			separator="," close=")">
			#{customSpiderId}
		</foreach>
	</delete>

</mapper>